/* .login_wrap {
  position: absolute;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
} */
/* .login_component {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
} */
.login_component {
  display: flex;
  justify-content: center;
}
.login_wrap {
  width: 100%;
  height: 100vh;
  max-width: 500px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title_wrap {
  flex: 1;
  max-height: 100px;
  font-size: 26px;
  font-weight: 700;
  color: #262626;
  padding: 1rem;
}
/* 로그인 input영역  */
.contentWrap {
  margin-top: 26px;
  padding: 1rem;
  flex: 2;
  /* flex:1나중에 추가 */
}
.content {
  margin-top: 12px;
  height: 80px;
}
.inputTitle {
  font-size: 12px;
  font-weight: 600;
  color: #262626;
}
.inputWrap {
  display: flex;
  background-color: white;
  border: 1px solid transparent;
  padding: 12px;
  border-radius: 8px;
}

.inputWrap:focus-within {
  border: 1px solid #9e30f4;
}

.inputWrap input {
  width: 100%;
  outline: none;
  border: none;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
}

.input::placeholder {
  color: #dadada;
}

.errorMessage {
  margin-top: 8px;
  color: #ef0000;
  font-size: 12px;
}

.buttonWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.buttonWrap button {
  margin-bottom: 16px;
  height: 48px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
}

.buttonWrap button:nth-child(1) {
  background-color: #9e30f4;
}
.buttonWrap button:nth-child(2) {
  background-color: #9e30f4;
}
.buttonWrap button:nth-last-child() {
  margin-bottom: 0;
}
.buttonWrap button:disabled {
  background-color: #dadada;
  color: white;
}

/* 회원가입 토글버튼 */
.toggle {
  display: flex;
  justify-content: end;
  font-size: 15px;
  font-weight: 600;
}
.toggle span:hover {
  color: #ef0000;
  cursor: pointer;
}
